.tokenCard {
    height: 150px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tokenCard_text{
    align-self: center;
    font-size: larger;
    font-weight: 500;
    font-family: Roboto;
}